/* =========================
  login Stockia
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background: radial-gradient(
        circle at center,
        #5cff5c 0%,
        #a8ffa8 30%,
        #e8ffe8 55%,
        #ffffff 100%
    );

    background-attachment: fixed;
}


.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;          /* ← agrega esto */
    position: fixed;      /* ← y esto */
    top: 0;
    left: 0;
    background-color: #00bb00;
    background-image: 
        radial-gradient(ellipse at center, rgba(0,200,0,0.6) 0%, rgb(250, 250, 250) 45%, rgb(252, 250, 250) 100%),
        radial-gradient(ellipse at center, transparent 40%, rgb(250, 250, 250) 100%);
}

.container {
    min-height: 100vh;
    background:
    radial-gradient(
        circle at center,
        rgba(0, 255, 0, 0.55) 0%,
        rgba(100, 255, 100, 0.35) 25%,
        rgba(255, 255, 255, 1) 70%
    );
}

.wrapper {
    width: 420px;
    background: transparent;
    border: none;
    backdrop-filter: blur(10px);
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px;
    color: black;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.wrapper .input-box {
    position: relative;
    margin: 10px 0;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: black;
}

.input-box select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: black;
    padding: 0 20px;
    appearance: none;
    cursor: pointer;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.forgot {
    text-align: center;
    margin: -15px 0 15px;
}

.forgot a {
    color: black;
    text-decoration: none;
    font-size: 14.5px;
    text-align: center;
}

.forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    background: black;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 250px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.register-link p a:hover {
    text-decoration: underline;
    text-align: center;
}

.field label {
    display: block;  /* esto lo pone en su propia línea */
    margin-bottom: 6px;
}

/* =========================
    Navbar Stockia
========================= */
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(
        to right,
        #ffffff,
        #d8ffd8,
        #ffffff
    );
}
/* =========================
    interfaz Stockia
========================= */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    justify-items: center;
    width: 100%;
}

.products-section {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    width: fit-content;
    max-width: 90%;
    margin: 0 auto;
    background: #fff;
    border: 10px solid #000000;
    border-radius: 8px;
    overflow: hidden;
}

.card-img {
    display: block;
    width: 320px;
    height: auto;
    margin: 0 auto;
}

.card-body {
    width: 300px;
    padding: 15px;
    text-align: center;
}

.card-body button {
    display: block;
    margin: 15px auto 0;
    padding: 10px 25px;
    background: #00bb00;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.product h1 {
    text-align: center;
    margin-bottom: 40px;
    
}